header{
    background-color: white;
    width: 100%;
    padding-bottom:30px;
}
.container h1{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 15px;
}
.container h2{
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top:12px;
}
.container p{
    text-align: center;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 35px;
    color: rgb(36, 3, 3);
}
main{
    background-color: rgb(230, 218, 210);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.main-content h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top:10px;
}
footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top:80px;
}