header{
    background-color: white;
    width: 100%;
    padding-bottom:150px;
}
h1{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    bottom: 15px;
}
p{
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top:20px; 
}
img{
    display: flex; 
    justify-content: center;
}
main{
    background-color: rgb(230, 218, 210);
    width: 100%;
    padding-bottom:300px;
    padding-top: 150px;
}
footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top:80px;
}