.main-content h3{
  text-align: center;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  top:10px;
}

.img-one img,
.img-two img,
.img-three img {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.img-one img:hover,
.img-two img:hover,
.img-three img:hover {
  transform: scale(1.1);
}

.nav-list a {
  font-size: 25px;
  color: black;
  padding: 8px 12px;
  transition: 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.nav-list a:hover {
  color: rgb(64, 17, 17);
}

.bookclub-img img{
  width: 200px;
  height: 200px;
  border-radius: 85px;
}

.member-img img{
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.card {
  background-color: rgb(239, 235, 235);
}

.card h3 {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}

.card p {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
  background-color:rgb(200, 186, 186);
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(239, 235, 235);
}

.article {
  background-color: rgb(239, 235, 235);
}

.article h3 {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}

.article p {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
