.image-box {
  display: flex;
  justify-content: center;     
}
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: start;
}
.main-content h3 {
  grid-column: 1 / -1;
  text-align: center;
}

.img-one,.img-two,.img-three {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 85px;
  position:relative;
  bottom:40px;
}
.bookclub-img{
  display: flex;
  gap: 1125px;
}
.member-img {
    display: flex;
    flex-direction: row;   
    gap: 375px;
    justify-content: center;
    flex-wrap: nowrap;     
}
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  margin-top: 60px;
}
.card {
  width: 33.33%;
  border: 10px;
  padding: 20px;
}
.card h3 {
  font-size: 22px;
}
